.button
  display: flex
  justify-content: center
  align-items: center
  padding: 10px 20px
  color: white
  font-size: 14px
  font-weight: bold
  font-family: inherit
  text-decoration: none
  background: transparent
  border: none
  border-radius: 6px
  box-shadow: none
  &--blue
    background: $blue
