.button
  padding: 10px 20px
  text-decoration: none
  color: white
  font-size: 12px
  font-weight: 700
  font-family: 'Merriweather', serif
  border: none
  border-radius: 3px
  transition: 250ms background-color ease-in-out
  &:hover
    background-color: $dblue
  &--blue
    background-color: $blue

